<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" th:replace="base::Layout(~{::section})">
<head>
	<title>A Meaningful Page Title</title>
</head>
<body>
	<section class="banner d-flex justify-content-center align-items-center">
		<div class="text-center">
			<h1>Smart App</h1>
			<p>
				Start using this efficient App which will be developed shortly.It will be used to listing your all records which will makes your life easier
			</p>
			<button class="btn bg-primary btn-lg text-white">Get Start</button>
		</div>
		
	</section>
</body>
</html>